@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
body{
	padding: 10px 25px;
	font-family: 'Kanit', sans-serif;
}
#input{
	padding: 10px 25px;
	border:3px solid #ddd;
	outline:none;
	border-radius: 15px;
	font-family: 'Kanit', sans-serif;
}
button{
	padding: 10px 25px;
	border:3px solid #ddd;
	outline:none;
	border-radius: 15px;
	color:#000;
	font-family: 'Kanit', sans-serif;
}
#output{
	padding: 20px 40px;
	background-color: #6D35A2;
	width: 20%;
	color:#fff;
	width: 300px;
	border-radius: 15px 15px 15px 15px;
	margin-bottom: 20px;
}
#img{
	padding: 20px 40px;
	width: 20%;
	color:#fff;
	width: 200;
	height: 200px;
	border-radius: 15px 15px 15px 15px;
	background-image: url('logo.png');
	background-size: cover;
	text-shadow: 0px 0px 10px 0px #000;
}

